#contact{
  background: url(../img/whyUsBg.jpg);
  background-size: 100% 100%;
  color: $mainText;
  z-index: -1;
  .container{
    text-align: center;
    align-items: center;
    flex-direction: column;
    .rectSteps{
      background: rgba(18, 18, 18, 0.5);
      margin-top: 100px;
      font-size: 60px;
      color: $secondText;
      width: 125px;
      height: 125px;
      transform: rotate(45deg) translate(0, 0);
      span{
        margin: 15px 0 0 55px;
      }
    }
    h2{
      font-family: $mainFonts;
      font-weight: bold;
      z-index: 1;
    }
    .col{
      background: transparent;
    }
    .rwd_blocks{
      justify-content: center;
      margin: 100px 0;
      .col{
        padding: 5px;
        flex-direction: row;
        width: 33%;
        background: transparent;
        line-height: 18px;
        flex-wrap: nowrap;
        img{
          width: 54px;
          height: 54px;
          margin: 0 15px 15px 0;
        }
        .flex{
          flex-direction: column;
          h3{
            font-family: $mainFonts;
            font-weight: bold;
          }
          span{
            font-family: $mainFonts;
            font-weight: 400;
          }
          a{
            color: $mainText;
            font-family: $mainFonts;
            font-weight: 400;
            text-decoration: none;
          }
        }
      }
    }
    footer{
      font-family: $mainFonts;
      font-weight: 400;
      span{
        text-transform: uppercase;
      }
    }
    .toTop{
      background: $rectBG;
      width: 80px;
      height: 80px;
      transform: rotate(45deg) translate(18px, 38px);
      text-decoration: none;
      color: $mainText;
      transition: all .5s ease;
      span{
        transform: rotate(-45deg) translate(18px, 36px);
      }
      &:hover{
        text-shadow: 0 0 25px rgba(255,255,255,1);
        box-shadow: inset 0 0 20px 7px rgba(255,255,255,1);
        transition: all .5s ease;
      }
    }
  }
}
#decor{
  height: 80px;
  z-index: 2;
  background: #181818;
}