#header{
  background: linear-gradient(45deg, #ffffff 60%, #f2f2f2 40%);
  .container{
    min-height: 100vh;
  }
}
#header{
  div{
    nav{
      text-transform: uppercase;
      justify-content: space-between;
      div:first-child{
        flex-direction: column;
        background-color: $rectBG;
        width: 220px;
        height: 220px;
        transform: rotate(45deg) translate(-90px, -65px);
        color: $mainText;
        font-family: $H1font;
        text-align: center;
        align-items: center;
        z-index: 1;
        h1{
          font-size: 26px;
          margin: 110px 0 0 60px;
          width: 50%;
        }
        span:last-child{
          margin: -13px 0 0 87px;
          font-size: 14px;
        }
      }
      .whitePoint{
        width: 16px;
        height: 40px;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 50px 50px;
        transform: rotate(20deg) translate(-221px, 95px);
        z-index: 2;
      }
      .blackPoint{
        width: 10px;
        height: 30px;
        background-color: black;
        border: 1px solid transparent;
        border-radius: 50px 50px;
        transform: rotate(20deg) translate(-252px, 118px);
        z-index: 2;
      }
      .blackRect{
        width: 100px;
        height: 100px;
        z-index: 0;
        background-color: black;
        transform: rotate(45deg) translate(-151px, 80px);
      }
      div:last-child{
        height: 25px;
        a{
          font-family: $H2font;
          font-weight: bold;
          font-size: 16px;
          text-decoration: none;
          color: $navText;
          margin: 40px 15px 15px 15px;
        }
      }
    }
  }
}
.rowRect{
  flex-direction: row;
}
.weBest{
  flex-direction: column;
  margin: 185px 0 0 -45px;
  width: 400px;
  height: 400px;
  background-color: black;
  color: $mainText;
  align-items: center;
  text-align: center;
  z-index: 1;
  h2{
    margin: 115px 0 0 -158px;
    color: $secondText;
    font-family: $H2font;
    font-weight: 800;
  }
  article{
    margin: 0 90px 0 50px;
    font-family: $mainFonts;
    font-weight: 400;
  }
  a{
    margin: 10px -80px 0 0;
  }
}
.blueRect{
  margin: 91px -37px 0 -117px;
  width: 65px;
  height: 65px;
  background-color: $rectBG;
}
.header__mainFoto{
  width: 760px;
  height: 760px;
  @extend %bgRect;
}
.header__mainFoto:before {
  @extend %bgRectPseudo;
  background: url(../img/Big_Image.jpg) no-repeat center;
  background-size: 71% 71%;
}


@media screen and (max-width: 1050px){
  .whitePoint{
    display: none;
  }
  .blackPoint{
    display: none;
  }
  .blackRect{
    display: none;
  }
  #header div nav .flex{
    flex-direction: column;
    margin: 0 auto;
  }
  #header div nav div:last-child a{
    margin: 5px 15px;
  }
  #header div nav div:last-child {
    height: 175px;
  }
}