
#WhyUs{
  min-height: 100vh;
  background: url(../img/whyUsBg.jpg) no-repeat center;
  background-size: 100% 100%;
  z-index: 0;
  color:$mainText;
  .container{
    flex-direction: column;
    text-align: center;
    align-items: center;
    .whyUs__topBanner{
      justify-content: center;
      transform: translate(-39px, -147px);
      div:first-child{
        background: $rectBG no-repeat center;
        width: 320px;
        height: 320px;
        z-index: 1;
        text-align: center;
        align-items: center;
        font-family: $mainFonts;
        span{
          font-size: 60px;
          font-weight: 900;
          margin: -20px 0 0 50px;
        }
        h2{
          font-size: 22px;
          font-weight: bold;
          margin: 65px 0 0 -60px;
        }
        article{
          margin: -55px 0 60px 60px;
        }
      }
      .whyUs__topBanner__banner{
        width: 420px;
        height: 420px;
        @extend %bgRect;
      }
      .whyUs__topBanner__banner:before {
        @extend %bgRectPseudo;
        background: url(../img/banner.jpg) no-repeat center;
        background-size: 71% 71%;
      }
    }
    .whyUs__topBanner__blocks{
      margin: 50px 130px;
      flex-direction: row;
      text-align: left;
      .col{
        padding: 50px 30px;
        width: 41%;
        background: rgba(55, 54, 54, 0.5);
        h3{
          margin-bottom: 15px;
        }
      }
      .whyUs__topBanner__blocks-decor{
        flex-direction: column;
        align-items: center;
        background: transparent;
        width: 130px;
        div{
          height: 40px;
          width: 2px;
          background: white;
        }
        .rotate{
          width: 15px;
          height: 15px;
          margin: 10px;
        }
      }
    }
    .blueBtn{
      margin: 55px 0;
    }
  }
}
@media screen and (max-width: 960px){
  #WhyUs .container .whyUs__topBanner__blocks{
    margin: 55px 0 0 0;
  }
  #WhyUs .container .whyUs__topBanner__blocks .col{
    width: 100%;
    margin: 0;
  }
  #WhyUs .container .whyUs__topBanner__blocks .whyUs__topBanner__blocks-decor div{
    height: 2px;
    width: 40px;
    background: white;
  }
  #WhyUs .container .whyUs__topBanner__blocks .whyUs__topBanner__blocks-decor{
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
}