#WhyUs{
  min-height: 100vh;
  background: url(../img/whyUsBg.jpg) no-repeat center;
  background-size: 100% 100%;
  z-index: 0;
  color:$mainText;
  .container{
    flex-direction: column;
    text-align: center;
    align-items: center;
    h2,h3{
      font-family: $H2font;
      font-weight: 900;
    }
    h3{
      font-weight: 400;
    }
    .whyUs__topBanner{
      justify-content: center;
      transform: translate(-39px, -147px);
      div:first-child{
        background: $rectBG no-repeat center;
        width: 320px;
        height: 320px;
        z-index: 1;
        text-align: center;
        align-items: center;
        font-family: $mainFonts;
        span{
          font-size: 60px;
          font-weight: 900;
          margin: -20px 0 0 50px;
        }
        h2{
          font-size: 22px;
          font-weight: bold;
          margin: 65px 0 0 -60px;
        }
        article{
          margin: -55px 0 60px 60px;
        }
      }
      .whyUs__topBanner__banner{
        width: 420px;
        height: 420px;
        @extend %bgRect;
      }
      .whyUs__topBanner__banner:before {
        @extend %bgRectPseudo;
        background: url(../img/banner.jpg) no-repeat center;
        background-size: 71% 71%;
      }
    }
    .blueBtn{
      margin: 55px 0;
    }
  }
}
